body {
	/*background-image: "/images/img1.jpg"; */
	/*background: url(../images/systemfaliure.jpg);*/
	background-color: black;
	background-attachment: fixed;
}


/********** div's **********/

#wrapper {
	/*border: 2px red solid;*/
	width: 100%;
	/*height: 2000px;*/
	height: 100%;
}

#header {
	border: 4px #006600 solid;
	margin: auto;
	width: 1500px;
	/*height: 400px;*/
	height: 200px;
	background-color: black;
	/*background-image: url(../images/header.png);*/
	/*display: none;*/
	/*background-image: images/header.jpg;*/
}

#title {
	/*display: none;*/
	/*font-size: 35px;*/
	/*width: 800px;*/
	font-family: Courier;
	font-size: 50px;
	float: left;
	margin-left: 45px;
	margin-top: 50px;
	/*border: 1px white solid;*/
	color: #006600;
	
}

#cursor {
	/*display: inline;*/
	font-family: Courier;
	font-size: 50px;
	color: #006600;
	margin-top: 50px;
	/*border: 1px white solid;*/
	float: left;
}

 #navbar {
 	/*border: 2px green solid;*/
	margin: auto;
	width: 1500px;
	height: 50px;
	/*margin-top: 347px;*/
	margin-top: 147px;
	padding-left: 150px;
 }

#content {
	position: relative;
	/*border: 5px green solid;*/
	margin: auto;
	/*margin-left: 10.5%;*/
	margin-top: 35px;
	width: 1500px;
	/*height: 1500px;*/
	/*float: left;*/
	height: auto;
	background-color: white;
	overflow: auto;
}

#posts_wrapper {
	/*border: 3px blue solid;*/
	width: 1170px;
	border-right: 2px black dashed;
	height: 97%;
	margin: auto;
	float: left;
	position: relative;
	/*display: inline-block;*/
}

#post {
	/*border: 2px red solid;*/
	width: 97%;
	height: 97%;
	float: left;
	/*margin-right: 15px;*/
	position: relative;
	padding: 20px 15px 15px 15px;
	/*display: inline-block;*/
}

#post p {
	font-size: 25px;
	
}

#footer {
	border: 4px #006600 solid;
	margin: auto;
	margin-top: 20px;
	width: 1500px;
	height: 100px;
	background-color: black;
	clear: both;
}

div {
	/*display: none;*/
	border-radius: 10px;
}

#right_sidebar {
	border: 1px black solid;
	width: 320px;
	height: 97%;
	float: right;
	height: 97%;
	background-color: white;
}

#right_widget {
	border: 2px red solid;
	float: right;
	position: fixed;
	height: 300px;
	width: 170px;
}

#nav_buttons {
	height: 45px;
	width: 200px;
	border: 5px solid #006600;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 2px 2px 2px;
	float: left;
	background-color: black;
	border-radius: 25px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 15px 10px 5px 10px;
}

#nav_buttons:hover {
	/*background-color: #FF3333;*/
	background-color: white;
}

/*#nav_buttons a {
	color: black;
	text-decoration: none;
	width: 100%;
	height: 100%;
}*/

a {
	color: #006600;
	text-decoration: none;
}

#footer p {
	/*border: 1px black solid;*/
	text-align: center;
	color: #006600;
	font-size: 25px;
	font-weight: bold;
}


/*a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}*/