body {
	/*background-image: "/images/img1.jpg"; */
	background: url(../images/img1.jpg);
	background-attachment: fixed;
}


/********** div's **********/

#wrapper {
	/*border: 2px red solid;*/
	width: 100%;
	/*height: 2000px;*/
	height: 100%;
}

#header {
	border: 2px blue solid;
	margin: auto;
	width: 1500px;
	height: 400px;
	background: url(../images/header2.jpg);
	display: none;
	/*background-image: images/header.jpg;*/
}

#title {
	display: none;
	font-size: 35px;
	font-weight: bold;
	font-family: Courier;
	margin-left: 45px;
	margin-top: 200px;
	
}

 #navbar {
 	border: 2px green solid;
	margin: auto;
	width: 1500px;
	height: 80px;
	margin-top: 317px;
 }

#content {
	border: 2px blue solid;
	margin: auto;
	margin-top: 10px;
	width: 1500px;
	height: 1500px;
	background-color: red;
}

#footer {
	border: 2px red solid;
	margin: auto;
	margin-top: 10px;
	width: 1500px;
	height: 100px;
	background-color: red;
}

div {
	display: none;
	border-radius: 10px;
}

#right_sidebar {
	border: 2px yellow solid;
	float: right;
	width: 320px;
	height: 100%;
}

#right_widget {
	border: 2px red solid;
	float: right;
	position: fixed;
	height: 300px;
	width: 170px;
}
